
<div class="container">
    <hr>
    <footer>
        <div class="row">
            <div class="col-lg-4 text-center">
                <h4>Sitemin Haritası</h4>
                <hr />
                <ul class="list-group col-md-7">
                    <li class="list-group-item"><a href="/Home/About"><span class="glyphicon glyphicon-info-sign"></span> Hakkımızda</a></li>
                    <li class="list-group-item"><a href="/Home/MostLiked"><span class="glyphicon glyphicon-star"></span> En Beğenilenler</a></li>
                    <li class="list-group-item"><a href="/Home/Index"><span class="glyphicon glyphicon-th-list"></span> Son Yazılar</a></li>
                </ul>
            </div>

            <div class="col-lg-4 text-center">
                <h4>E-bültek &copy; </h4>
                <p>Üyeliği</p>
                <hr />
                <div class="input-group mb-lg-1">
                    <input type="text" class="form-control" placeholder="E-posta Adresiniz" aria-label="E-posta Adresiniz" aria-describedby="basic-addon2">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-share-alt"></span> Gönder</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <h4>Tüm Hakları Saklıdır &copy; @DateTime.Now.Year</h4>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </footer>
</div>